<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <script src="vue.js"></script>

  <style>
    .footer {
           position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
           background-color: red;
           color: white;
           text-align: center;
        }
  </style>

  <title>Todo List App</title>
</head>
<body>
<div class="container col-sm-8 col-sm-offset-2">
  <div id="taskApp">
    <h4>Todo Task List App</h1>

    <div class="panel panel-default">
      <h5>Add New Task</h2>

      <form @submit.prevent="addTask">
        <div class="col-sm-8">
          <table cellspacing="4" cellpadding="4">
            <tr>
                <td> <label for="task name">Task Name</label> </td>
                <td> <input style="width:400px;" type="text" class='form-control' v-model='tasks.taskName' required></td>
            </tr>
            <tr>
              <td> <label for="task name">Priority</label> </td>
              <td><select name="priority" class='form-control' v-model='tasks.priority' required>
                  <option value="Penting">Penting</option>
                  <option value="Biasa">Biasa</option>
                  <option value="Tidak Penting">Tidak Penting</option>
              </select></td>
              <td>
                  <input style="width:200px;"type="submit" value='Add' class='btn btn-primary btn-block'>
              </td>
              <td>
                  <input style="width:200px;" @click="cancelClick" value='Cancel' class='btn btn-danger btn-block'>
              </td>
            </tr>
            <tr>
              <td> <label for="task name">Note</label> </td>
              <td><input type="text" class='form-control' v-model='tasks.note' required></td>
            </tr>
          </table>
          </div>
          <br>
      </form>
    </div>

    <table class="table">
      <thead>
        <th>Task</th>
        <th>Priority</th>
        <th>Note</th>
        <th>Delete</th>
      </thead>

      <tbody>
        <tr v-for='task in tasks'>
          <td><span>{{ task.taskName }}</span></td>
          <td>
              <span v-if="task.priority == 'Penting'" class="badge badge-light text-danger">{{ task.priority }}</span>
              <span v-else-if="task.priority == 'Biasa'" class="badge badge-light text-primary">{{ task.priority }}</span>
              <span v-else-if="task.priority == 'Tidak Penting'" class="badge badge-light text-success">{{ task.priority }}</span>
            </td>
          <td><span>{{ task.note }}</span></td>
          <td><button class="btn btn-danger btn-block" @click="deleteTask(task)">Delete</button></td>
        </tr>
      </tbody>
    </table>
    <div class="footer">
      <p>{{ mhs.nama }} | {{ mhs.npm }} | {{ mhs.kelas }}</p>
    </div>
  </div>
</div>

<script>
new Vue({
  el: "#taskApp",
  data: {
    mhs:  {
            nama: 'Theodore Aldo Wijaya',
            npm: '180709607',
            kelas: 'D',
          },
    tasks: [
      { taskName: "Mandi", priority: "Penting", note: "BYUR BYUR"},
      { taskName: "Makan", priority: "Biasa", note: "YAM YAM" },
      { taskName: "Main Game", priority: "Tidak Penting", note: "sampe jago" },
    ]
  },
  methods: {
    addTask() {
      this.tasks.push({
        taskName: this.tasks.taskName,
        priority: this.tasks.priority,
        note: this.tasks.note
      });
      this.tasks.taskName=null;
      this.tasks.priority=null;
      this.tasks.note=null;
    },
    cancelClick(){
      this.tasks.taskName=null;
      this.tasks.priority=null;
      this.tasks.note=null;
    },
    deleteTask(task) {
      this.tasks.splice(this.tasks.indexOf(task), 1);
    },
  }
});
</script>
</body>
</html>